<mat-toolbar color="primary">
  <span data-testid="app-name">Face game</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="headerMenu"
          aria-label="Header menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #headerMenu="matMenu">
    <a [routerLink]="[link.url]" mat-menu-item
       *ngFor="let link of headerMenuItems" [disabled]="link.disabled">
      <mat-icon>{{link.icon}}</mat-icon>
      <span>{{link.name}}</span>
    </a>
  </mat-menu>
</mat-toolbar>
