<div *ngIf="!loading;else gameLoading">
  <app-game-start *ngIf="(gameStage$ | async) === stages.INTRO"
                  [personGroups$]="personGroups$"
                  [personGroupId]="personGroupId" [isLoggedIn]="isLoggedIn">
  </app-game-start>
  <app-game-play *ngIf="(gameStage$ | async) === stages.PLAY"
                 [questions$]="questions$"
                 [currentQuestionId]="currentQuestionId" [user]="user">
  </app-game-play>
  <app-game-result *ngIf="(gameStage$ | async) === stages.RESULT"
                   [result$]="result$">
  </app-game-result>
</div>

<ng-template #gameLoading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
